.main {
    width: 50%;
    margin: 75px auto;
    height: 250px;
    /* border: 1px red solid; */
    text-align: center;
    font-weight: bold;
    color: grey;
}

.answer {
    color: blue;
    font-size: 20px;
}

/* Not sure why this isn't working but it works when I just apply it as in the JSX file MagidEightBall */
input {
    text-align: center;
    color: purple;
}
