.main {
    width: 50%;
    margin: auto;
    /* margin: 20px 200px;
    margin-right: 100px; */
    height: 250px;
    border: 1px red solid;
    /* overflow: scroll; */
    text-align: center;
    font-weight: bold;
}